<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/assets/index-style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Impulso Joven / Inicio</title>
</head>
<body>
    <main>
        <div class="big-wrapper">
            <header>
                <div class="container">
                    <div class="logo">
                        <img src="/public/img/boca-juntos-color.png" alt="">
                    </div>
                    <div class="links">
                        <ul>
                            <li><a href="#">Emprendedores</a></li>
                            <li><a href="/api/user/login">Iniciar Sesion</a></li>
                            <li><a href="/api/user/register">Registrase</a></li>
                        </ul>
                    </div>
                    <div class="overlay"></div>
                    <div class="menu">
                        <i class='bx bx-menu bx-md' style='color: #00aeef'  ></i>
                    </div>
                </div>
            </header>
            <div class="showcase-area">
                <div class="container">
                    <div class="left">
                        <div class="big-tittle">
                            <h1>Tarjeta Impulso Joven</h1>
                        </div>
                        <div class="content">
                            <p class="text">
                                Con la "Tarjeta Impulso Joven" podrás acceder a descuentos especiales en diversos establecimientos comerciales del municipio de Boca del Río, al igual que otros <a href="#">beneficios</a>.<br>
                                <br>
                                La Tarjeta Impulso Joven es totalmente gratuita, la podrás solicitar en la oficina de Juventud y Emprendimiento o dentro de este mismo portal en el botón de "Consigue La Tuya Aquí".<br>
                                <br>
                                Consulta los <a href="#">requisitos</a>.
                            </p>
                        </div>
                        <div class="cta">
                            <a href="/api/user/register" class="btn">Consique la Tuya Aqui!</a>
                        </div>
                    </div>
                    <div class="right">
                        <img src="/public/img/showcase.svg" alt="card image" class="card">
                    </div>
                </div>
            </div>
            <footer>
                <div class="container-footer">
                    <div class="box-footer-logo">
                        <img src="/public/img/escudo-boca-blanco.png" alt="">
                    </div>
                    <div class="container-box-footer">
                        <div class="box-footer">
                            <h4>HORARIO ATENCIÓN</h4>
                            <p>LUNES A VIERNES DE 9:00 A 15:00HRS.</p>
                        </div>
                        <div class="box-footer">
                            <h4>UBICACIÓN</h4>
                            <p>AV. VERACRUZ #320 ENTRE GALEANA Y COSTA SOL CASA DE CULTURA DE BOCA DEL RIO.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
    <script src="/public/js/hamburger-menu.js"></script>
</body>