<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8">
    <meta view="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/assets/register-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Impulso Joven / Registro</title>
</head>
<body>
    <div class="big-wrapper">
        <div class="left-container">
            <div class="form-title">
                <h1>Registrarse</h1>
            </div>
            <div class="form-container">
                <form action="/api/user/register" method="POST">
                    <div>
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" placeholder="Nombre" required>
                    </div>
                    <div>
                        <label for="lastname">Apellido Paterno</label>
                        <input type="text" name="lastname" id="lastname" placeholder="Apellido Paterno" required>
                    </div>
                    <div>
                        <label for="secondlastname">Apellido Materno</label>
                        <input type="text" name="secondlastname" id="secondlastname" placeholder="Apellido Materno" required>
                    </div>
                    <div>
                        <label for="phonenumber">Numero de Celular</label>
                        <input type="text" name="phonenumber" id="phonenumber" placeholder="Numero de Celular" required>
                    </div>
                    <div>
                        <label for="username">Nombre de Usuario</label>
                        <input type="text" name="username" id="username" placeholder="Nombre de Usuario" required>
                    </div>
                    <div>
                        <label for="email">Correo Electronico</label>
                        <input type="email" name="email" id="email" placeholder="Correo Elctronico" required>
                    </div>
                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    </div>
                </form>
            </div>
        </div>
        <div class="right-container">
            
        </div>
    </div>
</body>