<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/assets/profile-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Impulso Joven / Perfil</title>
</head>
<body>
  <div class="big-wrapper">
    <nav>
      <a href="http://localhost:3000/auth/user/home"><img class="boca-logo" src="/public/img/B-azul.png"></a>
      <a href="http://localhost:3000/auth/user/profile"><i class="bx bx-user-circle" style="color:#00aeef"></i></a>
      <a href="http://localhost:3000/auth/user/config"><i class="bx bx-cog" style="color:#234093"></i></a>
      <form action="http://localhost:3000/auth/user/logout?_method=DELETE" method="POST">
        <button type="submit"><i class="bx bx-log-out" style="color: #234093;"></i></button>
      </form>
    </nav>
    <div class="container">
      <h1>Profile</h1>
    </div>
  </div>
</body> 
