<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/assets/profile-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Impulso Joven / Perfil</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="header">
                <div class="main">
                    <div class="image">
                        <div class="hover">
                            <i class='bx bxs-camera bx-md' style='color:#ffffff' ></i>
                        </div>
                    </div>
                    <h3 class="name">@Nombre de Usuario</h3>
                    <h4 class="profile-type">Emprendedor</h4>
                </div>
            </div>
            <div class="content">
                <div class="lef">
                    <div class="about-container">
                        <h3 class="title">Descripcion</h3>
                        <p class="text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
                    </div>
                    <div class="icons-container">
                        <a href="#" class="icon">
                            <i class='bx bxl-facebook-circle'></i>
                        </a>
                        <a href="#" class="icon">
                            <i class='bx bxl-instagram-alt'></i>
                        </a>
                        <a href="#" class="icon">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="stats">
                        <h3 class="number">0</h3>
                        <h3 class="number-title">Vistas</h3>
                    </div>
                    <div class="profile-qr">
                        <img src="../img/QR FORO MAYO 1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="buttons-wrap">
                    <div class="share-wrap">
                        <a href="#" class="share">Compartir</a>
                    </div>
                </div>
                <div id="gallery">
                </div>
            </div>
        </div>
    </div>
</body> 
